<div class="container">
  <h2>Users</h2>

<!--  <hr>-->

  <table class="table">
    <thead>
    <tr>
      <th>...</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>
        <button
          class="btn btn-primary mx-1"
          title="Add New User"
          (click)="openModal(template, undefined)"
        >
          <i class="bi bi-plus"></i>
        </button>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}.</td>

      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.company }}</td>

      <td>
        <div>
          <button
            class="btn btn-primary mx-1"
            title="Edit User"
            (click)="openModal(template,user)"
          >
            <i class="bi bi-pencil"></i>
          </button>

          <button
            class="btn btn-danger mx-1"
            title="Delete User"
            (click)="deleteUser(i)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ form.value.id != null ? 'Edit User' : 'Add New User' }}
    </h4>

    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="form"
      (ngSubmit)="updateUser()"
    >
      <input
        type="text"
        title="Full Name"
        placeholder="Full Name"
        class="form-control my-2"
        formControlName="name"
      >

      <input
        type="text"
        title="Email"
        placeholder="Email"
        class="form-control my-2"
        formControlName="email"
      >

      <input
        type="text"
        title="Company"
        placeholder="Company"
        class="form-control my-2"
        formControlName="company"
      >

      <textarea
        title="description"
        class="form-control my-2"
        placeholder="Description"
        formControlName="description"
      >

      </textarea>

      <button
        [title]="form.value.id != null ? 'Edit User' : 'Add New User'"
        class="btn btn-primary"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ form.value.id != null ? 'Edit User' : 'Add New User' }}
      </button>
    </form>
  </div>
</ng-template>
